.idea/
cmake-build-debug/
cmake-build-release/
xcode_build/
CMakeLists.txt.user

StdLib/

src/AST/Attr.inc
src/AST/Attributes.def

src/Message/def/backup
src/Message/def/Diagnostics.def
src/Message/def/parsed
src/Message/def/raw

src/Query/Queries.def
src/Query/Queries.inc
