
*.DS_Store

bootstrap
build/
.history/
.idea/
.vscode/
.build/
.local/
bin/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
xcode_build/
CMakeLists.txt.user

test/test.log

include/cdotc/AST/Attr.inc
include/cdotc/AST/Attributes.def
include/cdotc/Parse/ParseAttr.inc
include/cdotc/Diagnostics/Diagnostics.def
include/cdotc/Query/Inc
tools/TableGenScripts

src/.project
