bootstrap
build/
.history/
.idea/
.vscode/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
xcode_build/
CMakeLists.txt.user

StdLib/

src/AST/Attr.inc
src/AST/Attributes.def

src/Diagnostics/def/backup
src/Diagnostics/def/Diagnostics.def
src/Diagnostics/def/parsed
src/Diagnostics/def/raw

src/Query/Queries.def
src/Query/Queries.inc

src/Tools/TableGenScripts
